* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #d3d3d3;
    max-width: 400em;
    margin: 2em auto;
}

main {
    text-align: center;
    font-size: 2em;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.botao {
    display: inline-block;
    margin: 1em;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #1A1E2D;
    color: #cacaca;
    border: 0;
    text-shadow: 2px 2px 2px rgba(182, 179, 179, 0.315);
    border-radius: 4px;
    box-shadow: 2px 3px 0 1px #1A1E2D;
}

.botao:active {
    box-shadow: 0 0 0 0 #569CFA, inset 3px 3px 3px #569CFA;
    transform: translate(3px, 3px);
}