<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC   "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/trabalho_final?useTimezone=true&amp;serverTimezone=UTC</property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="show_sql">true</property>
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
		<mapping class="modelo.entidade.estudantil.Aluno"/>
		<mapping class="modelo.entidade.estudantil.Contato"/>
		<mapping class="modelo.entidade.estudantil.Disciplina"/>
		<mapping class="modelo.entidade.estudantil.Endereco"/>
		<mapping class="modelo.entidade.estudantil.Pessoa"/>
		<mapping class="modelo.entidade.estudantil.Escola"/>
		<mapping class="modelo.entidade.estudantil.Professor"/>
		<mapping class="modelo.entidade.estudantil.Turma"/>
		<mapping class="modelo.entidade.estudantil.Usuario"/>
		<mapping class="modelo.entidade.estudantil.Visitante"/>
		<mapping class="modelo.entidades.jogo.Atividade"/>
		<mapping class="modelo.entidades.jogo.Fase"/>
		<mapping class="modelo.entidades.jogo.Jogo"/>
		<mapping class="modelo.entidades.jogo.Mundo"/>
		<mapping class="modelo.entidades.jogo.Opcao"/>
		<mapping class="modelo.entidades.jogo.Situacao"/>
		<mapping class="modelo.entidades.jogo.Teoria"/>
	</session-factory>
</hibernate-configuration>