*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: #f0f2f5;
  position: absolute;

  overflow:hidden
}

.mundo1 {
  font-size: 20px;
  width: 400px;
  height: 250px;
  margin-left: -200px;
  margin-right: 60px;
  margin-top: 5rem;
  padding-left: 270px;
  padding-top: 20px;
    margin: 30% 60% 50% 25% ;
}
.mundo2 {
    font-size: 20px;
    width: 400px;
    height: 250px;
    margin-left: -500px;
    margin-top: 5rem;
    padding-left: 260px;
    padding-top: 20px;
    margin-top: 40%;
  }
.circular-menu__button {
  display: none;
}
.circular-menu__button:checked + .circular-menu__icon {
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.circular-menu__button:checked ~ .circular-menu__item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.circular-menu__button:checked ~ .circular-menu__item:nth-of-type(1) {
  transition-duration: 0.18s;
  transform: translate3d(0px, -170px, 0);
}
.circular-menu__button:checked ~ .circular-menu__item:nth-of-type(2) {
  transition-duration: 0.28s;
  transform: translate3d(161.67960772px, -52.532888979999996px, 0);
}
.circular-menu__button:checked ~ .circular-menu__item:nth-of-type(3) {
  transition-duration: 0.38s;
  transform: translate3d(99.92349284px, 137.53288898px, 0);
}
.circular-menu__button:checked ~ .circular-menu__item:nth-of-type(4) {
  transition-duration: 0.48s;
  transform: translate3d(-99.92349284px, 137.53288898px, 0);
}
.circular-menu__button:checked ~ .circular-menu__item:nth-of-type(5) {
  transition-duration: 0.58s;
  transform: translate3d(-161.67960772px, -52.532888979999996px, 0);
}
.circular-menu__icon {
  background: #1A1E2D;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  color: #fff;
  height: 170px;
  line-height: 80px;
  margin-left: 500px;
  position: absolute;
  text-align: center;
  top: 30%;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 0.2s;
  width: 170px;
  cursor: pointer;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 2;
}


.circular-menu__item {
  background: #470063;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  color: #fff;
  height: 170px;
  line-height: 80px;
  margin-left: 500px;
  position: absolute;
  text-align: center;
  top: 30%;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 0.2s;
  width: 170px;
  font-size: 32px;
}
.circular-menu__item:nth-of-type(1) {
  transition-duration: 0.18s;
}
.circular-menu__item:nth-of-type(2) {
  transition-duration: 0.18s;
}
.circular-menu__item:nth-of-type(3) {
  transition-duration: 0.18s;
}
.circular-menu__item:nth-of-type(4) {
  transition-duration: 0.18s;
}
.circular-menu__item:nth-of-type(5) {
  transition-duration: 0.18s;
}
.circular-menu__item:hover {
  color: #dc143c;
  background: #569CFA;
}
.circular-menu__item:active,
.circular-menu__item:focus {
  color: #8b0000;
}
