#fases img {
    width: 100px;
    height: 100px;
}

#fases {
    display: inline-flex;
}

#fases2 img {
    width: 100px;
    height: 100px;
    display: inline-flex;
}

#fases3 img {
    width: 100px;
    height: 100px;
    display: inline-flex;
}

.fase1 {
    margin-top: 5vh;
    margin-left: 10vw;
}

.fase2 {
    margin-top: 5vh;
    margin-left: 20vw;
}

.fase3 {
    margin-top: 5vh;
    margin-left: 20vw;
}

.fase4 {
    margin-top: 5vh;
    margin-left: 20vw;
}

.fase5 {
    margin-top: 20vh;
    margin-left: 25vw;
}

.fase6 {
    margin-top: 20vh;
    margin-right: 10vw;
}

.fase7 {
    margin-top: 20vh;
    margin-left: 10vw;
}

.fase8 {
    margin-top: 20vh;
    margin-left: 10vw;
}

.fase9 {
    margin-top: 5%;
    margin-left: 10vw;
}

.fase10 {
    margin-top: 5%;
    margin-left: 10vw;
}