.content {
    margin-top: 54px;
}

.header {
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

<<<<<<< HEAD:src/main/resources/telas/game/style.css
body, h1{
  background-color:#01ABAA;
  display:flex;
  align-items:center;
  justify-content:center;
	font-family: "Poppins", sans-serif;
	margin:0;
  min-height:100vh;
=======
.left-title {
    width: 80px;
    color: #FFF;
    font-size: 18px;
    float: left;
>>>>>>> e8ebc28e1c506728e1b15564143424b1c7557d9f:src/main/resources/telas/game/game.css
}

.right-title {
    width: 150px;
    text-align: right;
    float: right;
    color: #FFF;
}

.quiz-body {
    margin-top: 15px;
    padding-bottom: 50px;
}

.option-block-container {
    margin-top: 20px;
    max-width: 420px;
}

.option-block {
    padding: 10px;
    background: aliceblue;
    border: 1px solid #84c5fe;
    margin-bottom: 10px;
    cursor: pointer;
}

.result-question {
    font-weight: bold;
}

.c-wrong {
    margin-left: 20px;
    color: #FF0000;
}

.c-correct {
    margin-left: 20px;
    color: green;
}

<<<<<<< HEAD:src/main/resources/telas/game/style.css
button {
  background-color:#FEDC3D;
  border:none;
  color:white;
  cursor:pointer;
  display:block;
  font-family:inherit;
  font-size:1.3rem;
  width:100%;
  padding:1.3rem;
  border-radius:10px;
}

button:hover{
  background-color:#C688FF;
=======
.last-row {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.res-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
>>>>>>> e8ebc28e1c506728e1b15564143424b1c7557d9f:src/main/resources/telas/game/game.css
}